# ========== Unity generated ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# ========== OS generated ==========
.DS_Store
Thumbs.db
desktop.ini

# ========== IDEs ==========
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# ========== Unity meta backups ==========
*.pidb.meta
*.pdb.meta

# ========== Crash reports ==========
sysinfo.txt

# ========== Packages ==========
Packages/packages-lock.json
